{
  "student1": {
    "api_key": "5495~HeUC3AawWTLy3Gf3Lf92xW9ew9tAJYGXwzVXGGT8u9fyELhuWBM3LcVPu3JYaHLe",
    "domain": "shastacollege.instructure.com",
    "user_id": 77632,
    "name": "John Doe"
  },
  "student2": {
    "api_key": "5495~AnotherExampleAPIKey12345",
    "domain": "shastacollege.instructure.com",
    "user_id": 77633,
    "name": "Jane Smith"
  }
} 